/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* utils */

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-no {
  flex-wrap: nowrap;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.align-items-flex-start {
  align-items: flex-start;
}

.align-self-center {
  align-self: center;
}

.w-100 {
  width: 100%;
}

.w-60 {
  width: 60%;
}

.bg-cadetblue {
  background-color: cadetblue;
}

.bg-lightblue {
  background-color: #b4d0e6;
}

.text-white {
  color: white;
}

/* header */

header {
  width: 100%;
  padding: 20px;
  z-index: 1;
}

.container {
  width: 100%;
  padding: 5px 10px;
}

.header-left,
.header-right {
  gap: 25px;
}

.logo-small {
  padding-bottom: 3px;
}

.button-blue {
  background-color: #0061fe;
  padding: 5px 15px;
}

/* main */

main {
  width: 100%;
}

/* jumbo section */

.col-35 {
  width: 35%;
}

.col-35 i {
  font-size: 50px;
}

.col-65 {
  width: 65%;
}

.jumbotron {
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.jumbotron-container {
  max-width: 1000px;
  margin: 0 auto;
}

.section-container {
  max-width: 1000px;
  margin: 0 auto;
}

.jumbotron-container {
  margin-bottom: -75px;
}

h1 {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 4em;
  font-weight: 700;
}

.col-35 p {
  width: fit-content;
  margin-bottom: 30px;
}

.col-35 span {
  margin-bottom: 30px;
}

.jumbo-img {
  max-width: 100%;
}

/* section */

h3 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 50px;
}

/* checkbox */

.checkbox-container{
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  color: #0061FE;
  border-radius: 50%;
}

