/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

/* utils */

.display-flex {
	display: flex;
}

.flex-direction-column {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.justify-content-space-between {
	justify-content: space-between;
}

.justify-content-center {
	justify-content: center;
}

.align-items-center {
	align-items: center;
}

.align-items-flex-start {
	align-items: flex-start;
}

.align-self-center {
	align-self: center;
}

.w-100 {
	width: 100%;
}

.w-60 {
	width: 60%;
}

.bg-cadetblue {
	background-color: cadetblue;
}

.bg-lightblue {
	background-color: #B4D0E6;
}

.text-white {
	color: white;
}

/* header */

header {
	width: 100%;
	padding: 20px;
	z-index: 1;
}

.container {
	width: 100%;
	padding: 5px 10px;
}



.header-left, .header-right {
	gap: 25px;
}

.logo-small {
	padding-bottom: 3px;
}

.button-blue {
	background-color: #0061FE;
	padding: 5px 15px;
}

/* main */

main {
	width: 100%
}

.jumbotron {

}

.jumbo-container {

}

.col-33 {
	width: 33%;
}

.jumbo-img {
	position: absolute;
}


.jumbo-big-text h1{
	font-size: 70px;
	padding-top: 70px;
	padding-bottom: 25px;
}